nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: #134B70

}

.logo-icon{
    margin: 8px;
    display: flex;
}

.logo-font{
    color: white;
}

.nav-container {
    display: flex;
}

.nav-item{
    padding: 8px;
    color: white;
}

.main-title{
    text-align: center;
}

.main-content{
    display: flex;
}

.main-content-item{
    border: 1px solid;
    width: 100%;
    min-height: 250px;
}

.main-content-banner{
    border: 1px solid;
    width: 100%;
    height: 150px;
    background-image: url(https://th.bing.com/th/id/R.b3e84cd163978bd8070ba9b969ffa5ae?rik=vXKwKYG2CdHxEg&riu=http%3a%2f%2fpm1.aminoapps.com%2f7601%2fc80ecb274b901fdfc6ebc7259906c55beb7847d1r1-720-720v2_uhq.jpg&ehk=UIQfJbRjOzt63vweP3If2OSjjm3EqAUYWnQe30lsC1M%3d&risl=&pid=ImgRaw&r=0);
}

.item-icon{
    height: 25px;
    width: 25px;
    border: 1px solid;
    background-image: url();
    border-radius: 50%;
}

.main-item{
    display: flex;
    align-items: center;
    justify-content: center;
}